<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input formControlName="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input formControlName="apellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Dirección</ion-label>
    <ion-input formControlName="direccion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">RUT</ion-label>
    <ion-input formControlName="rut" maxlength="10"></ion-input>
  </ion-item>
  <ion-note color="danger" *ngIf="registroForm.get('rut')?.errors?.['invalidRut'] && registroForm.get('rut')?.touched">
    RUT inválido. Debe tener el formato 00000000-0 o 00000000-k.
  </ion-note>
  <ion-item>
    <ion-label position="floating">Celular</ion-label>
    <ion-input  formControlName="celular"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Vehiculo</ion-label>
    <ion-input  formControlName="vehiculo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Patente</ion-label>
    <ion-input  formControlName="patente"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input formControlName="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
  </ion-item>
  <ion-note color="danger" *ngIf="registroForm.get('password')?.errors?.['invalidPassword'] && registroForm.get('password')?.touched">
    La contraseña debe tener entre 6 y 8 caracteres, al menos 1 mayúscula y 1 número.
  </ion-note>
  <ion-item>
    <ion-label position="floating">Confirmar Contraseña</ion-label>
    <ion-input type="password" formControlName="confirmarPassword"></ion-input>
  </ion-item>
  <ion-note color="danger" *ngIf="registroForm.errors?.['noMatch'] && registroForm.get('confirmarPassword')?.touched">
    Las contraseñas no coinciden.
  </ion-note>
  <ion-button expand="full" type="submit" [disabled]="registroForm.invalid">Registrar</ion-button>
</form>