.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center;     /* Centra el contenido horizontalmente */
  height: 100%;            /* Asegura que el contenedor ocupe todo el espacio disponible */
  text-align: center;
}
h1{
  margin-bottom: 10px !important;
}
h2{
  margin: 10px 0px 10px 0px !important;
}
.glass-content{
  margin: 0px auto !important;
  padding: 5px !important;
}
strong{
  font-size: 35px;
}
.dimeciones{
padding-top: 20px;

}
.origen-envio{
  margin-top: 20px !important; 
  margin-bottom: 20px !important;

}

.destino-envio{
  margin-top: 20px !important; 
  margin-bottom: 20px !important;

}
