<ion-header class="header-main ion-text-center" mode="md">
  <ion-toolbar>
    <ion-title>
      <strong>Cotizar</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content">
  <div class="glass-content">
    <!-- Dimensiones -->
    <div class="dimensiones">
      <h1>Indique dimensiones del envío</h1>
      <ion-item>
        <ion-label position="stacked">Largo (cm)</ion-label>
        <ion-input type="number" placeholder="Ingresa el largo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Ancho (cm)</ion-label>
        <ion-input type="number" placeholder="Ingresa el ancho"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Altura (cm)</ion-label>
        <ion-input type="number" placeholder="Ingresa la altura"></ion-input>
      </ion-item>
    </div>

    <!-- Origen -->
    <div class="destino-envio">
      <h2>Indique origen del envío</h2>
      <ion-item>
        <ion-label position="stacked">Selecciona una Región</ion-label>
        <ion-select [(ngModel)]="selectedRegionOrigen" (ionChange)="getComunas('origen')" placeholder="Selecciona una región">
          <ion-select-option *ngFor="let region of regiones" [value]="region.NombreRegion">
            {{ region.NombreRegion }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="selectedComunasOrigen.length">
        <ion-label position="stacked">Selecciona una Comuna</ion-label>
        <ion-select [(ngModel)]="selectedComunaOrigen" placeholder="Selecciona una comuna">
          <ion-select-option *ngFor="let comuna of selectedComunasOrigen" [value]="comuna">
            {{ comuna }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- Destino -->
    <div class="destino-envio">
      <h2>Indique destino del envío</h2>
      <ion-item>
        <ion-label position="stacked">Selecciona una Región</ion-label>
        <ion-select [(ngModel)]="selectedRegionDestino" (ionChange)="getComunas('destino')" placeholder="Selecciona una región">
          <ion-select-option *ngFor="let region of regiones" [value]="region.NombreRegion">
            {{ region.NombreRegion }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="selectedComunasDestino.length">
        <ion-label position="stacked">Selecciona una Comuna</ion-label>
        <ion-select [(ngModel)]="selectedComunaDestino" placeholder="Selecciona una comuna">
          <ion-select-option *ngFor="let comuna of selectedComunasDestino" [value]="comuna">
            {{ comuna }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
</ion-content>
