<ion-header class="header-main" mode="md">
  <ion-toolbar>
    <ion-title>
      <h1>Mi Perfil</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="main-content">


<ion-content class="main-content">
  <div class="glass-content">
  <div class="glass-content" *ngIf="usuario">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido, {{usuario.nombre}} {{usuario.apellido}}!</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div>Dirección: {{usuario.direccion}}</div>
        <div>Vehiclo: {{usuario.vehiculo}}</div>
        <div>Patente:{{usuario.patente}}</div>
      </ion-card-content>

      <!-- Mostrar reservas -->
      <ion-card *ngIf="reservas.length > 0">
        <ion-card-header>
          <ion-card-title>Tus Reservas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let reserva of reservas">
              <ion-label>
                <h2>{{reserva.estacionamiento}}</h2>
                <p>Región: {{reserva.region}}</p>
                <p>Comuna: {{reserva.comuna}}</p>
                <p>Fecha: {{reserva.fechaReserva | date:'medium'}}</p>
                <p>Costo: {{reserva.costo | currency:'CLP'}}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <!-- Mostrar mensaje si no hay reservas -->
      <div *ngIf="reservas.length === 0">
        <p>No tienes reservas registradas.</p>
      </div>

      <!-- Botón para añadir foto a la galería -->
      <ion-button (click)="addPhotoToGallery()" shape="round">
        <ion-icon name="camera" slot="icon-only"></ion-icon>
      </ion-button>

      <!-- Botón para cerrar sesión -->
      <ion-button id="sesion" expand="full" (click)="cerrarSesion()" shape="round">Cerrar Sesión</ion-button>
    </ion-card>
  </div>

  <!-- Mostrar mensaje si no hay usuario -->
  <div *ngIf="!usuario">
    <p>Sesión expirada, intentalo nuevamente.</p>
  </div>
</div>
</ion-content>
