<ion-card class="card-home">
  <ion-card-header>
    <ion-card-title><a>Reserva tu estacionamientos</a></ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Permite a los usuarios encontrar y reservar un espacio de estacionamiento disponible en tiempo real. 
    Este servicio está dirigido a los arrendatarios que buscan un lugar conveniente para estacionar, 
    sin complicaciones y con la garantía de tener un lugar asegurado cuando lo necesiten.
  </ion-card-content>

  <ion-button fill="clear">Busacar</ion-button>
</ion-card>

<ion-card class="card-home">
  <ion-card-header>
    <ion-card-title><a>Arrenda tu estacionamiento</a></ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Ofrece una forma sencilla de poner tu espacio de estacionamiento a disposición de quienes necesitan un lugar donde dejar su vehículo. 
    Ideal para arrendadores que quieren generar ingresos extra alquilando un espacio disponible de manera rápida y segura.
  </ion-card-content>

  <ion-button fill="clear">Arrendar</ion-button>
</ion-card>
