<ion-header>
  <ion-toolbar>
    <ion-title>Formulario Modal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <!-- Campo de texto -->
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Direccion</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rut</ion-label>
      <ion-input type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Celular</ion-label>
      <ion-input type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <app-drop-down />
    <!-- Botón de envío -->
    <ion-button expand="block" type="submit">Enviar</ion-button>
  </form>
</ion-content>
