<ion-item>
  <ion-label>Region</ion-label>
  <ion-select placeholder="Selecciona una ciudad">
    <ion-select-option value="Región Metropolitana">Región Metropolitana</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label>Comuna</ion-label>
  <ion-select placeholder="Selecciona una ciudad">
    <ion-select-option value="Cerrillos">Cerrillos</ion-select-option>
    <ion-select-option value="Cerro Navia">Cerro Navia</ion-select-option>
    <ion-select-option value="El Bosque">El Bosque</ion-select-option>
    <ion-select-option value="Estación Central">Estación Central</ion-select-option>
    <ion-select-option value="Lo Espejo">Lo Espejo</ion-select-option>  
  </ion-select>
</ion-item>
