
<ion-header class="header-main ion-text-center" mode="md">
  <div class="gobalLogin">
  <ion-toolbar>
    <ion-title>
      <strong>Login</strong>
    </ion-title>
  </ion-toolbar>
</div>
</ion-header>

<ion-content class="main-content">
  <div class="glass-content ">
    <div class="contenedorIcono">
      <ion-icon alignment="center" class="icono-login" name="person-circle-outline">

      </ion-icon>
    </div>
    <div class="globalBotones">
    <ion-button expand="block" (click)="openModalreg()">Registrarse</ion-button>
    <br>
    <!-- Proximoo arreglar inisio session -->
    <ion-button expand="block" (click)="openModalog()">Iniciar Sesion</ion-button>
  </div>
  </div>
</ion-content>


