.icono-login{
    margin: 0px auto !important;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    text-align: center;
    font-size: 200px;
}
.contenedorIcono{
    text-align: center;
}
h1{
    font-size: 40px;
    font-weight: bolder;
  }
.globalBotones{
    margin-top: 0px auto !important;
}
.header-main{
    text-align: center;
    width: 100%;
  }