.icono-login{
    margin: 0px auto !important;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    text-align: center;
    font-size: 200px;
}
.contenedorIcono{
    text-align: center;
}
strong{
    font-size: 35px;
}
.globalBotones{
    margin-top: 0px auto !important;
}