.imghome {
  width: 100%;
  height: 48%;
}
.header-main{
  text-align: center;
  width: 100%;
}
.card{
  padding-bottom: 20px;
}
.gobalServicio{
  border: 1px rgb(102, 102, 102) solid;
  margin-top: 5px;
  margin-bottom:20px ;
  padding-top: 10px;
  padding-bottom: 10px;
}