  <div class="header-main">
    <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        <h1>CodeHead</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>
</div>
    
  <ion-content class="main-content">
  <img class="imghome" src="../../../assets/codehead.png" alt="Imagen de CodeHead">
    <ion-item>
      <ion-label> <a>Basic Item</a> </ion-label>
      <ion-label>
        Multi-line text that should wrap when it is too long to fit on one line. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label> <a>Basic Item</a> </ion-label>
      <ion-label>
        Multi-line text that should wrap when it is too long to fit on one line. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.
      </ion-label>
    </ion-item>
  </ion-content>
  
  <!-- menu -->
  <app-menu />