<ion-header>
    <ion-toolbar>
      <ion-title>
        <h1>CodeHead</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <img class="imghome" src="../../../assets/codehead.png" alt="Imagen de CodeHead">
  
  <ion-content>
  
    <ion-item>
      <ion-label> <a>Basic Item</a> </ion-label>
      <ion-label>
        Multi-line text that should wrap when it is too long to fit on one line. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label> <a>Basic Item</a> </ion-label>
      <ion-label>
        Multi-line text that should wrap when it is too long to fit on one line. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.
      </ion-label>
    </ion-item>
  </ion-content>