<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="compass">
      <ion-icon routerLink="/home" name="compass"></ion-icon>
      Mapa
    </ion-tab-button>
    <!-- *********PROXIMO ICONO PARA PAGINA******* -->
    <ion-tab-button  tab="cotizar">
      <ion-icon routerLink="/cotizar" name="calculator"></ion-icon>
      Reservar
    </ion-tab-button>
    <ion-tab-button tab="person">
      <ion-icon routerLink="/perfil" name="person"></ion-icon>
      Perfil
    </ion-tab-button>
    
    
  </ion-tab-bar>
  
  <router-outlet></router-outlet>
</ion-tabs>
