/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Estilos globales para la aplicación Ionic.
 * Incluye importaciones de CSS base y personalizaciones específicas.
 * Para más información, visita la documentación:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS requerido para que los componentes de Ionic funcionen correctamente */
@import "@ionic/angular/css/core.css";

/* CSS básico para apps construidas con Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* CSS opcional que puedes comentar si no se usa */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Tema Oscuro de Ionic */
@import "@ionic/angular/css/palettes/dark.system.css";

/* Reinicio de márgenes globales */
// * {
//   margin-top: 0 !important;
//   margin-bottom: 0 !important;
// }

/* Encabezado principal */


/* Estilo de fondo con efecto de vidrio */
.glass-content {
  background: rgba(32, 32, 34, 0);
  box-shadow: 0 4px 30px rgba(246, 251, 255, 0.123);
  backdrop-filter: blur(25.3px);
  -webkit-backdrop-filter: blur(25.3px);
  width: 100%;
  min-height: 100vh;
}

// /* Alineación central con flexbox */
// .d-flex-center {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

/* Fondo y color para el contenido principal */
ion-content {
  --ion-background-color: url(/assets/img/bg.gif);
  --color: white;
}

// /* Fondo del encabezado */
ion-header {
  background: url(/assets/img/bg.gif);
}

// /* Estilo del ion-toolbar con transparencia y efecto de vidrio */
ion-toolbar {
  --background: transparent;
  background: rgba(19, 63, 176, 0.27);
  box-shadow: 0 4px 30px rgba(7, 77, 216, 0.1);
  backdrop-filter: blur(25.3px);
  -webkit-backdrop-filter: blur(25.3px);
  color: white;
}

// /* Estilo para ion-card con borde redondeado y sombra */
ion-card {
  margin: 20px;
  background: rgba(7, 7, 7, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}

// /* Estilo para ion-item con fondo transparente */
ion-item {
  --background: transparent;
  color: white;
}

/* Estilo de íconos */
ion-icon {
  color: white;
}

/* Loader con spinner centralizado */
.loader {
  text-align: center;
  padding-top: 15vh;

  ion-spinner {
    padding: 50px;
    --color: white;
  }
}
.gobalServicio{
  padding: 20px !important;
  }