
  <ion-menu contentId="main-content">
    <div class="header-main">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>
            <h1>Menu Content</h1>
          </ion-title>
        </ion-toolbar>
      </ion-header>
    </div>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
    <!-- COLOCAR AQUI A DENTRO, PARA NO SOPREPOCICIONAR EL HOME COMPLETO -->
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
    </div>
  </ion-menu>
  
